@use "/src/sass/base/variables.scss" as *;

.form{
    padding-top: 60px;
    &_wrapper{
        margin-top: 60px;
    }
    &_img{
        display: none;
    }
    &_fieldset{
        margin: 0;
        padding: 0;
        border: none;
    }
    &_label{
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 200%;
        color: $dark;
        &:nth-child(2){
            margin-top: 8px;
        }
    }
    &_input{
        padding: 10px 15px;
        width: 100%;
        height: 48px;
        color: $dark;
        background-color: #fff;
        border: 1px solid #e2e1e5;
        border-radius: 2px;
        &:focus{
            // border: 1px solid $dark;
            outline: 1px solid $dark;
        }
        &::placeholder{
            color: $ui-disabled;
            font-size: 14px;
        }
        &_textarea{
            height: 132px;
            resize: none;
        }
    }
    &_checkbox{
        margin-top: 20px;
        display: flex;
        align-items: center;
        a{
            margin-left: 3px;
            color: #a22dc6;
            text-decoration: none;
        }
        &_input{
            margin-right: 15px;
            width: 15px;
            height: 15px;
            border: 1px solid var(--dark);
            border-radius: 2px;
        }
    }
    &_btn{
        margin-top: 20px;
    }
    &_img_vase {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .form{
        position: relative;
        &_wrapper{
            margin-top: 45px;
        }
        &_input{
            width: 300px;
        }
        &_block {
            position: relative;
        }
        &_img_vase {
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}

@media screen and (min-width: 1200px) {
    .form{
        padding-top: 60px;
        &_wrapper{
            margin-top: 80px;
        }
        &_img{
            display: block;
            width: 550px;
            box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
        }
        &_block{
            padding-left: 20px;
        }
        &_input{
            &:hover{
                border: none;
                outline: 1px solid $dark;
            }
        }
    }
}

@media screen and (min-width: 1920px) {
    .form{
        padding-top: 100px;
        &_img{
            width: 573px;
        }
        &_block{
            padding-left: 145px;
        }
        &_fieldset {
            width: 100%;
            display: flex;
            column-gap: 45px;
        }
        &_img_vase {
            right: 75px;
        }
    }
}