@use "/src/sass/base/variables.scss" as *;

.header{
    &_top{
        display: flex;
        justify-content: space-between;
    }
    &_logo{
        width: 100px;
        height: 100px;
    }
    &_icons{
        display: flex;
        align-items: flex-start;
        gap: 15px;
        a{
            display: block;
            color: $dark;
            span{
                display: block;
                width: 20px;
                height: 20px;
                font-size: 18px;
            }
        }
    }
    &_nav{
        display: none;
    }
    &_menu{
        padding: 50px 10px;
        position: fixed;
        top: 0;
        left: -100vw;
        width: 100vw;
        height: 100vh;
        background: $light;
        transition: 0.75s all;
        &_active{
            transform: translateX(100%);
        }
        &_close{
            position: relative;
            width: 20px;
            height: 20px;
            span{
                position: absolute;
                top: 50%;
                display: block;
                width: 20px;
                height: 1px;
                background-color: $dark;
                &:nth-child(1){
                    transform: rotate(45deg);
                }
                &:nth-child(2){
                    transform: rotate(-45deg);
                }
            }
        }
        &_nav{
            margin-top: 50px;
            padding-left: 14px;
            ul{
                display: flex;
                flex-direction: column;
                row-gap: 25px;
                padding: 0;
                list-style-type: none;
            }
        }
        &_link{
            color: $dark;
            font-weight: 400;
            font-size: 20px;
            text-transform: uppercase;
        }
    }
}

.burger{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-right: 35px;
    height: 23px;
    span{
        display: block;
        width: 20px;
        height: 1px;
        background-color: $dark;
    }
}

@media screen and (min-width: 768px){
    .burger{
        visibility: hidden;
    }
    .header{
        &_nav{
            margin-top: 20px;
            ul{
                display: flex;
                justify-content: center;
                gap: 30px;
                list-style-type: none;
                padding-left: 0;
            }
        }
        &_link{
            text-decoration: none;
            font-weight: 400;
            font-size: 20px;
            text-transform: uppercase;
            color: $dark;
        }
        &_nav{
            display: block;
        }
        &_menu{
            display: none;
        }
    }
}

@media screen and (min-width: 1920px){
	.header{
        &_logo{
            width: 150px;
            height: 151px;
        }
        &_nav{
            margin-top: 36px;
            ul{
                gap: 60px;
            }
        }
    }
}