@use "/src/sass/base/mixins.scss" as *;
@use "/src/sass/base/variables.scss" as *;

.title_h1-italic{
    @include title;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
}

.title_h2 {
    @include title;
    font-size: 32px;
}
.title_h3 {
    @include title;
    font-size: 20px;
}

.footer_title {
    @include title;
    text-align: start;
    font-size: 16px;
    color: $light;
}

@media screen and (min-width: 768px) {
    .title_h2{
        font-size: 36px;
    }
    .title_h3{
        font-size: 24px;
    }
}

@media screen and (min-width: 1200px) {
    .title_h2{
        font-size: 40px;
    }
}

@media screen and (min-width: 1920px) {
    .title_h1-italic{
        font-size: 32px;
    }
}